*{
    font-family: Arial;
}
#container{
    width: 500px;
    margin-left: calc(50% - 250px);
    border: 1px solid dimgray;
    text-align: center;
    border-radius: 10px;
    min-height: 500px;
}
#inputField{
    border-radius: 6px;
    height: 20px;
}
#title{
    font-size: xx-large;
}
li{
    height: 30px;
    width: 150px;
    border: 1px lightgrey solid;
    border-radius: 6px ;
    padding: 3px;
    margin-top: 6px;
    margin-left: calc(50% - 100px);
    color: dimgray;
}

/* Resize elements if the screen is less than 600px wide */
@media only screen and (max-width: 600px) {
    #container{
        width: 300px;
        margin-left: calc(50% - 150px);
        border: 1px solid dimgray;
        text-align: center;
        border-radius: 10px;
        min-height: 500px;
    }
    li{
        width: 100px;
        margin-left: calc(50% - 75px);
    }
    #title{
        font-size: x-large;
    }
}